@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#e6ebf5] text-slate-800 antialiased font-sans selection:bg-orange-500 selection:text-white min-h-screen p-2 sm:p-4 lg:p-6 flex items-center justify-center;
  }
}

/* Custom soft scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
