@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full m-0 p-0 overflow-hidden bg-white text-slate-800 antialiased font-sans selection:bg-orange-500 selection:text-white;
  }
  #root {
    @apply h-full w-full;
  }
}

/* Custom soft scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
